<!-- messages template -->
<div class="error" ng-message="required">
    <i class="ion-information-circled"></i>
    This field is required!
</div>
<div class="error" ng-message="minlength">
    <i class="ion-information-circled"></i>
    Minimum length of this field is 5 characters!
</div>
<div class="error" ng-message="maxlength">
    <i class="ion-information-circled"></i>
    Maximum length of this field is 20 characters!
</div>
