<ion-view view-title="Sign In">
    <ion-content>
        <form name="authorizationForm" novalidate ng-submit="doLogin(authorizationForm)">
            <div class="list my-messages">
                <label class="item item-input"
                       ng-class="{ 'has-errors' : authorizationForm.username.$invalid, 'no-errors' : authorizationForm.username.$valid}"
                       ng-messages-include="app/login/errors.html">
                    <span class="input-label">Username</span>
                    <input type="text" name="username" ng-model="authorization.username" ng-minlength="5"
                           ng-maxlength="20" required>
                </label>

                <div class="error-container" ng-show="authorizationForm.username.$error && authorizationForm.$submitted"
                     ng-messages="authorizationForm.username.$error" ng-messages-include="app/login/errors.html"></div>
                <label class="item item-input"
                       ng-class="{ 'has-errors' : authorizationForm.password.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid  && authorizationForm.$submitted}">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-model="authorization.password" ng-minlength="5"
                           ng-maxlength="20" required>
                </label>

                <div class="error-container last-error-container"
                     ng-show="authorizationForm.password.$error && authorizationForm.$submitted"
                     ng-messages="authorizationForm.password.$error" ng-messages-include="app/login/errors.html"></div>
            </div>
            <button class="button button-full button-ford-positive" type="submit">
                Sign In
            </button>
        </form>
    </ion-content>
</ion-view>
