<ion-view view-title="{{vm.car[0].title}}" ng-controller="CarCtrl as vm">
  <ion-nav-buttons side="right">
    <button class="button-clear" ng-click="vm.toggleEdit()">
      {{vm.value}}
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true" scroll overflow-scroll>
    <ion-list>
      <div class="list card">

        <div class="item item-image">
          <img ng-src="img/{{vm.car[0].image}}">
        </div>

        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Vehicle</span>
            <input type="text" placeholder="{{vm.car[0].title}}" value="{{vm.car[0].title}}" ng-disabled="vm.enableEdit"/>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Model/Color</span>
            <input type="text" placeholder="Zetec, White" ng-disabled="vm.enableEdit"/>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Registration</span>
            <input type="text" placeholder="EN51 PWO" value="EN51 PWO" ng-disabled="vm.enableEdit"/>
          </label>
        </div>

      </div>
    </ion-list>
  </ion-content>
</ion-view>
