<ion-view view-title="{{vm.place[0].city}}" ng-controller="PlaceCtrl as vm">
  <ion-nav-buttons side="right">
    <button class="button-clear" ng-click="vm.toggleEdit()">
      {{vm.value}}
    </button>
  </ion-nav-buttons>
  <ion-pane class="top-content has-header">
    <!--<div id="map" data-tap-disabled="true"></div>-->
  </ion-pane>
  <ion-content class="has-top-content">
    <ion-list>
      <div class="list card">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">City</span>
            <input type="text" placeholder="Name" value="{{vm.places[0].city}}" ng-disabled="vm.enableEdit"/>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Latitude</span>
            <input type="text" placeholder="Latitude" value="{{vm.places[0].lat}}" ng-disabled="vm.enableEdit"/>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Longitude</span>
            <input type="text" placeholder="Longitude" value="{{vm.places[0].long}}" ng-disabled="vm.enableEdit"/>
          </label>
        </div>

      </div>
    </ion-list>
  </ion-content>
</ion-view>
