<ion-view view-title="Parking Places" ng-controller="PlacesCtrl as vm">
  <ion-pane class="top-content has-header">
    <div id="map" data-tap-disabled="true"></div>

  </ion-pane>
  <ion-content class="has-top-content" padding="true" scroll overflow-scroll>
    <ion-refresher on-refresh="vm.doRefresh()"
                   pulling-text="Pull to refresh..."
                   refreshing-text="Refreshing!"
                   refreshing-icon="ion-loading-c">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="marker in markers" ng-href="#/app/my-places/{{marker.title}}">
        View {{marker.title}}
        <ion-option-button class="button-positive" ng-click="openInfoWindow($event, marker)">Locate</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar align-title="left" class="bar ford-bar">
    <div class="buttons ford-buttons">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
      <button class="button button-clear ford-button-full" ng-click="vm.addSpace()">Add Space</button>
    </div>
  </ion-footer-bar>

</ion-view>