<ion-view view-title="Profile" ng-controller="ProfileCtrl">
    <ion-nav-buttons side="right">
        <button class="button-clear" ng-click="toggleEdit()">
            {{value}}
        </button>
    </ion-nav-buttons>
    <ion-pane class="top-content has-header">
        <img class="picture" ng-src="{{lastPhoto}}" src="./img/add-user.png" alt=""/>
    </ion-pane>
    <ion-content class="has-header has-top-content" padding="true" overflow-scroll="false">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Luke" ng-disabled="enableEdit"/>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Age</span>
                <input type="text" placeholder="18" ng-disabled="enableEdit"/>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input type="text" placeholder="33 Richmond Drive, Kent" ng-disabled="enableEdit"/>
            </label>
        </div>
    </ion-content>

    <ion-footer-bar align-title="left" class="bar ford-bar">
        <div class="buttons ford-buttons">
            <button class="button button-clear ford-button-full" ng-click="getPhoto()">Add Photo</button>
        </div>
    </ion-footer-bar>

</ion-view>
