.picture {
  max-width: 100%;
  margin: 0 auto;
  display: block; }

#map {
  width: 100%;
  height: 100%; }

.bar-ford-main {
  background-color: #003478;
  color: white;
  box-shadow: 1px 0 2px white; }

.bar.bar-ford-main {
  background-color: #003478;
  color: white;
  box-shadow: 1px 0 2px white; }
  .bar.bar-ford-main .title {
    color: inherit; }

.button.button-ford-positive {
  background-color: #003478;
  color: white; }

.bar.ford-bar {
  padding: 0; }
  .bar.ford-bar .buttons.ford-buttons {
    width: 100%;
    background-color: white;
    box-shadow: 1px 0 2px #91a3b0; }
    .bar.ford-bar .buttons.ford-buttons .ford-button-full {
      width: 100%;
      display: inline-block;
      color: #003478; }

.error-container {
  margin: 0; }
  .error-container:last-child {
    margin: 0; }

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle; }

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle; }

.last-error-container > .error {
  padding: 10px 16px 0; }

.has-errors {
  transition: 1s linear all;
  border-bottom: 3px solid #B83E2C; }

.no-errors {
  border-bottom: 3px solid green; }

.my-messages {
  transition: 1s linear all; }

.some-message {
  transition: 1s linear all; }

.top-content {
  height: 200px;
  top: 44px;
  width: auto; }

.has-top-content {
  top: 238px !important; }

/*# sourceMappingURL=style.css.map */
