<ion-view view-title="{{vm.place[0].name}}" ng-controller="PlaceCtrl as vm">
  <ion-nav-buttons side="right">
    <button class="button-clear" ng-click="vm.toggleEdit()">
      {{vm.value}}
    </button>
  </ion-nav-buttons>
  <ion-pane class="top-content has-header">
    <!--<div id="map" data-tap-disabled="true"></div>-->
  </ion-pane>
  <ion-content class="has-top-content">
    <ion-list>
      <div class="list card">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Name</span>
            <input type="text" placeholder="Name" value="{{vm.place[0].name}}"/>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Radius</span>
            <input type="text" placeholder="radius" value="{{vm.place[0].radius}}"/>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">ID</span>
            <input type="text" placeholder="ID" value="{{vm.place[0].id}}" disabled/>
          </label>
        </div>

      </div>
    </ion-list>
  </ion-content>
</ion-view>
