/* line 27, ../../scss/style.scss */
body {
  cursor: url("http://ionicframework.com/img/finger.png"), auto;
}

/* line 31, ../../scss/style.scss */
.picture {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

/* line 37, ../../scss/style.scss */
#map {
  width: 100%;
  height: 100%;
}

/* line 44, ../../scss/style.scss */
.slider {
  height: 100%;
}

/* line 47, ../../scss/style.scss */
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 57, ../../scss/style.scss */
#logo {
  margin: 30px 0px;
}

/* line 61, ../../scss/style.scss */
#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}

/* line 66, ../../scss/style.scss */
#list ol {
  margin-top: 30px;
}

/* line 69, ../../scss/style.scss */
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

/* line 76, ../../scss/style.scss */
.bar-ford-main {
  background-color: #003478;
  color: white;
  box-shadow: 1px 0 2px white;
}

/* line 83, ../../scss/style.scss */
.bar.bar-ford-main {
  background-color: #003478;
  color: white;
  box-shadow: 1px 0 2px white;
}
/* line 87, ../../scss/style.scss */
.bar.bar-ford-main .title {
  color: inherit;
}

/* line 93, ../../scss/style.scss */
.button.button-ford-positive {
  background-color: #003478;
  color: white;
}

/* line 99, ../../scss/style.scss */
.bar.ford-bar {
  padding: 0;
}
/* line 101, ../../scss/style.scss */
.bar.ford-bar .buttons.ford-buttons {
  width: 100%;
  background-color: white;
  box-shadow: 1px 0 2px #91a3b0;
}
/* line 105, ../../scss/style.scss */
.bar.ford-bar .buttons.ford-buttons .ford-button-full {
  width: 100%;
  display: inline-block;
  color: #003478;
}

/* line 114, ../../scss/style.scss */
.error-container {
  margin: 0;
}
/* line 117, ../../scss/style.scss */
.error-container:last-child {
  margin: 0;
}

/* line 122, ../../scss/style.scss */
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

/* line 131, ../../scss/style.scss */
.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

/* line 137, ../../scss/style.scss */
.last-error-container > .error {
  padding: 10px 16px 0;
}

/* line 141, ../../scss/style.scss */
.has-errors {
  transition: 1s linear all;
  border-bottom: 3px solid #B83E2C;
}

/* line 146, ../../scss/style.scss */
.no-errors {
  border-bottom: 3px solid green;
}

/* line 151, ../../scss/style.scss */
.my-messages {
  transition: 1s linear all;
}

/* line 156, ../../scss/style.scss */
.some-message {
  transition: 1s linear all;
}

/* line 161, ../../scss/style.scss */
.top-content {
  height: 200px;
  top: 44px;
  width: auto;
}

/* line 167, ../../scss/style.scss */
.has-top-content {
  top: 250px !important;
}
